firebase_admin

google-auth
google-auth-oauthlib
google-api-python-client

grpcio==1.59.3
grpcio-status==1.59.3


msgpack==0.6.2

requests
urllib3
certifi
chardet
idna

google-cloud-firestore
google-cloud-storage
google-cloud-core
googleapis-common-protos

cryptography
pyjwt[crypto]
pyasn1
pyasn1-modules
rsa

protobuf
cachetools
httplib2
requests-oauthlib
oauthlib
cachecontrol
uritemplate
